.form-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 900px;
  background-color: rgba(155, 89, 182, 1);
  margin: auto;
}

.form-container form {
  padding: 4rem 1.1rem 1.1rem 1.1rem;
  text-align: left;
  margin: 0 auto;
  color: #ECF0F1;
}

.form-container h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 3.61rem;
}

.form-container p {
  text-align: center;
  margin: 20px auto;
  font-size: 1.1rem;
  max-width: 50%;
}

.form-container label {
  font-size: 1.1rem;
  font-weight: bold;
}

.form-container .form-input, .form-container textarea {
  margin: 20px 0;
  min-height: 1.1rem;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: .8rem;
  padding: .55rem;
  color: #405261;
  box-sizing: border-box;
  width: 100%;
}


.form-container .form-input[type="submit"] {
  margin: 20px 0;
  background-color: #E67E22;
  border: none;
  cursor: pointer;
  color: #ECF0F1;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

.form-container .hidden-field {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
}