.blog-header {
  margin-top: 70px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 512px 315px;
}

.blog-header .header-title {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-weight: lighter;
  padding: 2rem 0 16rem;
}

.blog-header h2 {
  font-weight: lighter;
  font-size: 2.3rem;
  margin: 8px 0;
}

.blog-header .featured {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin: 8px 0;
}

.blog-header img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media all and (min-width: 1025px) {
  .blog-header {
    cursor: pointer;
  }

  .blog-header h2:hover {
    text-decoration: underline;
  }

  .blog-header .post-title:hover {
    text-decoration: none;
  }
}