.post-content {
  margin: 150px auto 80px;
  width: 90%;
  line-height: 1.9rem;
  color: var(--gray);
}

.post-content h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.post-content h2 {
  margin-top: 80px;
  color: var(--orange);
  font-size: 2rem;
  font-weight: 100;
}


.post-content pre {
  border-radius: 10px;
  background: var(--lite-gray);
  color: var(--white);
  padding: 1rem;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  margin: 20px auto 20px;
  overflow: overlay;
  font-size: .9rem;
}

@media all and (min-width: 1025px) {
  .post-content {
    width: 70%;
  }
}